* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em; /*valor per defecte a 1em, si el treus no passa res PERO AIXI POTS MODIFICARS*/
}


table, td, th {
    border: 2px solid grey;
    border-collapse: collapse;
}

table {
    text-align: center  ;
}



